/* Block */
.main {
    padding: 3vw;
    background-color: rgb(251, 251, 252);
    color: aliceblue;
}

p{
    font-size: calc(12px + 0.6vw)  ;
}
h1,.h1{
    font-size:calc(24px+1.2vw) ;
}
/* Element */
.content{
    text-align: center;
    background-color: rgb(10, 10, 10);
}


.hello-guy-container{
    width:12%;
    height:19vh;
    float:right;
    margin-left: 12%;
    margin-top: -10%;
}
.content-row {
    display: flex;
    flex-direction: row;
    max-height: 60vh;
    max-width: 90vw;
    margin: 0 auto;
    overflow: hidden;
    align-items: center;
    background-color: rgb(13, 14, 13);
}

/* Element Modifier */
.left-column {
    flex: 1;
    overflow: hidden;
}

.left-column img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius :4px ;
}

.right-column {
    flex: 1;
    padding: 5vh;
    overflow-y: auto;
    text-align: justify;
    max-height: 50vh;
    width:50%;
}

/* Block Modifier */
.h1 {
    text-align: center;
}

.fun-fact {
    text-align: center;
    margin-top: 5vh;
}

/* Media Query Modifier */
@media screen and (max-width: 650px) {

    .main{
        padding: 0;
    }
    .content-row {
        flex-direction: column;
        max-height: unset;
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: 1vh;
    }

    .right-column {
        padding: 0%;
        left:0;
    }
    
    /* Element Modifier */
    .left-column {
        flex: 1;
        overflow: hidden;
        width: 100%;
    }

    .left-column img {
        max-width: 100%;
        height: 50vh;
        object-fit: cover;
    }
    .right-column {
        flex: 1;
        padding: 3vh;
        overflow-y: auto;
        text-align: justify;
        max-height: 50vh;
        width:92%;
    }
}
