/* Block */
.main {
    /* padding: 1vw; */
    /* background: linear-gradient(#0f0e0e,#24262b); */
    /* background-color: #24262b; */
    color: aliceblue;
}

a{
    color:#aecaca;
    text-decoration: none;
}
p{
    font-size: calc(12px + 0.6vw)  ;
}
h1,.h1{
    font-size:calc(24px+1.2vw) ;
}
h2,.h2{
    font-size:calc(24px+1vw) ;
}
h2.achievement-title a {
    font-size: calc(24px + 0.8vw);
}
/* Element */
.content{
    text-align: center;
    background-color: rgb(10, 10, 10);
}


.hello-guy-container{
    width:12%;
    height:19vh;
    float:right;
    margin-left: 12%;
    margin-top: -10%;
}
.content-row-home {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    /* margin: 0 auto; */
    overflow: hidden;
    align-items: center;
    /* border-radius: 2vh; */
    /* background: linear-gradient(rgb(65, 55, 23),#2a3147); */
    background-color:black;
}

/* Element Modifier */
.left-column-home {
    flex: 1;
    overflow: hidden;
}

.left-column-home img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    border-top-right-radius :4px ;
}

.right-column-home {
    flex: 1;
    padding: 5vh;
    width: 100%;
    height: 93vh;
    overflow: hidden;
    text-align: justify;
    align-content:center;
    background-image:url("../images/homebg1.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-me-list{
    display: flex;
    flex-direction: column;
}
.about-me-element{
    display: flex;
    flex-direction: row;
    gap:2%;
    align-items: center;
    margin-bottom: 1vh;
    padding: 1vh;
    background: linear-gradient(rgb(65, 55, 23),#060811);
    border-radius: 1.5vh;
}
.about-me-element-date {
    margin-left: auto;
    color: grey;
    font-weight: bold;
}
.about-me-container{
    padding: 5vh;
    text-align: justify;
    height: auto;
    background: linear-gradient(rgb(65, 55, 23),#2a3147);
    margin-left:6vh;
    margin-right:6vh;
    border-radius: 2vh;
    margin-top: 5vh;
}
/* Block Modifier */
.h1 {
    text-align: center;
}

.fun-fact {
    text-align: center;
    margin-top: 5vh;
}

.achievements-container{
    /* background-color: #060811; */
    padding: 2vh;
    margin-top: 3vh;
    border-radius: 2vh;
}
.achievement-header{
    text-align: center;
    /* font-size: 2vw; */
    margin-bottom: 1vh;
}
.achievements{
    padding: 2vh;
    background: linear-gradient(rgb(65, 55, 23),#060811);
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-radius: 1.5vh;
}
.achievement-title{
    text-align: center;
    font-size: 1.5vw;
    margin-bottom: 1vh;
}

.achievement-title a {
    color: #007BFF; /* Change the color of the text */
    font-weight: bolder;
    text-decoration: none; /* Remove the underline */
    transition: color 0.3s ease; /* Add a transition effect when the color changes */
}

.achievement-title a:hover {
    color: #0056b3; /* Change the color of the text when hovered */
    text-decoration: underline; /* Add underline when hovered */
}
.acheievement-media{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.achievement-image{
    flex: 1;
    height: 50vh;
    justify-content:space-between;
}
.achievement-image img{
    width: 100%;
    height: 50vh;
    object-fit: scale-down;
    overflow: hidden;
    border-radius: 2vh ;
}

.work-experiences{
    padding: 2vh;
    /* background: linear-gradient(rgb(65, 55, 23),#060811); */
    margin-top: 6vh;
    margin-bottom: 2vh;
    border-radius: 1.5vh;
}
.work-experience{
    gap: 2%;
    align-items: center;
    margin-bottom: 1vh;
    margin-top: 1vh;
    padding: 2vh;
    background: linear-gradient(rgb(65, 55, 23),#060811);
    border-radius: 1.5vh;
}
.work-experience-title-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.my-name {
    position: relative;
    color: hsl(0, 6%, 62%);
    font-weight: bold;
    letter-spacing: 0.15vw;
    overflow: hidden;
    border-right: 1% solid hsl(0, 0%, 80%);
    white-space: nowrap;
    animation: typewriter 4s steps(44) 1s 1 normal both,
      blinkTextCursor 500ms infinite;
  }
  .my-name.active {
    animation: typewriter 4s steps(44) 1s 1 normal both,
      blinkTextCursor 500ms infinite;
  }
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes blinkTextCursor {
    from {
      border-right-color: hsl(0, 0%, 80%);
    }
    to {
      border-right-color: transparent;
    }
  }

.home-content{
    padding:4vh;
}
/* Media Query Modifier */
@media screen and (max-width: 650px) {

    .main{
        padding: 0;
    }
    .content-row-home {
        flex-direction: column;
        max-width: 100%;
        margin: 0 auto;
        height:auto;
        margin-bottom: 1vh;
    }
    
    /* Element Modifier */
    .left-column-home {
        flex: 1;
        overflow: hidden;
        width: 100%;
    }

    .left-column-home img {
        max-width: 100%;
        height: 50vh;
        object-fit: cover;
    }
    .right-column-home {
        flex: 1;
        padding: 3vh;
        text-align: justify;
        height: auto;
        width:92%;
    }
    .achievement-image{
        flex: 1;
        height: 50vh;
        
    }
    .achievement-image img{
        width: 100%;
        height: 50vh;
        object-fit:scale-down;
        overflow: hidden;
        border-radius: 2vh ;
    }
    .home-content{
        padding:1vh;
    }
    .about-me-container{
        padding: 2vh;
        margin-left:2vh;
        margin-right:2vh;
    }
}
/* Firefox */
.right-column-home {
    scrollbar-width: thin;
    scrollbar-color: #3b6c81 #1f1f1f;
  }

  /* Chrome, Edge, and Safari */
  .right-column-home::-webkit-scrollbar {
    width: 0.8vw;
  }

  .right-column-home::-webkit-scrollbar-track {
    background: inherit;
  }

  .right-column-home::-webkit-scrollbar-thumb {
    background-color: #0b0f0f;
    border-radius: 2vh;
    border: 0.2vw ridge #6b4d1f;
  }