/* Block */
.main {
    background: linear-gradient( #545a5a,#a5a6a7);
}
.navbar {
    background: linear-gradient(45deg, #389e99,#130e0e);
}
.dropdown-content {
    background: linear-gradient(45deg, #02292c,#130e0e);
  }
/* Element */
.content{
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    align-items: center;
    color: rgb(223, 223, 217);
}

a{
    color:#aecaca;
    /* text-decoration: none; */
}
p{
    font-size: calc(12px + 0.6vw)  ;
}
h1,.h1{
    font-size:calc(24px+1.2vw) ;
}
.content-row {
    display: flex;
    flex-direction: row;
    max-height: 60vh;
    max-width: 90vw;
    margin: 0 auto;
    overflow: hidden;
    align-items: center;
    background: linear-gradient(#314134,#124134);
    color: rgb(223, 223, 217);
    margin-bottom: 0.5vh;
    border-radius: 2vh;
    /* border-top-left-radius: 2vh; */
}


/* Element Modifier */
.project-image {
    flex: 1;
    overflow: hidden;
    width: 50%;
    background-color: #130e0e;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    border-top-right-radius :4px ;
}
.project-image iframe {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    border-top-right-radius :4px ;
}

.project-description {
    flex: 1;
    padding: 5vh;
    overflow-y: auto;
    text-align: justify;
    max-height: 50vh;
    width:50%;
}

/* Block Modifier */
.h1 {
    text-align: center;
}

/* Media Query Modifier */
@media screen and (max-width: 650px) {
    .main{
        padding: 0;
    }
    .content-row {
        flex-direction: column;
        max-height: 100vh;
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: 1vh;
    }

    .project-description {
        padding: 0%;
        left:0;
    }
    
    /* Element Modifier */
    .project-image {
        flex: 1;
        overflow: hidden;
        width: 100%;
    }

    .project-image img {
        max-width: 100%;
        height: 50vh;
        object-fit: scale-down;
    }
    .project-image iframe {
        width: 100%;
        height: 60vh;
        margin: auto;
    }

    .project-description {
        flex: 1;
        padding: 5vh;
        overflow-y: auto;
        text-align: justify;
        max-height: 50vh;
        width:92%;
    }
}

/* Firefox */
.project-description {
    scrollbar-width: thin;
    scrollbar-color: #3b6c81 #1f1f1f;
  }

  /* Chrome, Edge, and Safari */
  .project-description::-webkit-scrollbar {
    width: 1vw;
  }

  .project-description::-webkit-scrollbar-track {
    background: inherit;
  }

  .project-description::-webkit-scrollbar-thumb {
    background-color: #0b0f0f;
    border-radius: 2vh;
    border: 0.2vw ridge #1f596b;
  }